/* -- Header -- */

header{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
}

header li{
    margin-left: 2em;
    list-style:  none;
}

header li a{
    text-decoration: none;
    color: black;
}

header li .main_link:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 2.8rem;
}

.sub{
    color: #0065FC;
    font-weight: 700;
}
