/* -- Header -- */

header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 5.3em;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    align-content: stretch;
    align-items: center;
    grid-template-areas:
      "haeder_logo header_vide header_nav header_sub";
}

header a{
    text-decoration: none;
    color: black;
}
/* Logo */
.header_logo { 
    grid-area: haeder_logo; 
}

.header_logo img{
    height: 3em;
}

/* Vide */

.header_vide { 
    grid-area: header_vide;
}

/* Nav */

.header_nav { 
    grid-area: header_nav;
    display: flex;
    align-items: center;
}

.header_nav a{
    text-align: center;
    padding: 2em;
    font-weight: 400 ;

}

.header_nav a:hover{
    border-top: 4px solid #0065FC;
    color: #0065FC;
}

/* Sub */

.header_sub {
    grid-area: header_sub; 
}

.sub{
    color: #0065FC;
    font-weight: 600;
}
  

