html{

	margin:0;
}

body{
	font-family: Raleway, arial;
	margin: 0;
}

h2, h1{
	font-family: "Raleway bold";
}

h3{
	font-family: "Raleway bold";
}

.sub{
	font-family: "Raleway bold";
}

main, header{
	padding-left: 10vw;
	padding-right: 10vw;
	margin: auto;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway bold;
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: Raleway semibold;
	src: url(../fonts/Raleway-SemiBold.ttf);
}

*{
	flex-wrap: wrap;
}