html{
	padding-left: 10vw;
	padding-right: 10vw;
	margin: auto;
	font-family: Raleway, arial;
}

img{
	max-width: 350px;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

