html{
	font-family: Raleway, arial;
	margin:0;
}

body{
	margin: 0;
}

main, header{
	padding-left: 10vw;
	padding-right: 10vw;
	margin: auto;
}

@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

