/* Search */

.search h1{
    font-size: 1.2em;
    font-weight: 700;
}

.search p{
    margin-top: -10px;
}

.form_base{
    display: flex;
}

.form_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 1rem 0 0 1rem;
}

#form_search{
    font-weight: 600;
    border: 2px solid #f2f2f2;
    padding: 0 1.5rem;
}

.search_button{
    background-color: #0065fc;
    padding-right: 1.5rem;
    padding-left: 1rem;
    color: #f2f2f2;
    border: none;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
}

/* Search */

/* Filter */

.filter_base{
    display: flex;
    margin-top: 2rem;
}

.filter_base h2 {
    height: 3rem;
    margin-right: 2rem;
}

.filter_module{
    display: flex;
    border: 2px solid #f2f2f2;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-right: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.filter_module_icon{
    display: flex;
    width: 3rem;
    height: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    margin-left: -2px;
    color: #0065fc;
}

.filter_module_title{
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-weight: 900;
}

/* Filter */

/* Info */

.info{
    display: flex;
    align-items: center;
}

.info_icon i{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

/* Info */

/* Hebergement */

.hosting{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Hébergement Marseille*/

.host_marseille{
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    width: 65%;
    position: relative;
    box-sizing: border-box;
}

.host_marseille h2{
    margin: 2rem 0 0 2rem;
}

.host_marseille a{
    text-decoration: none;
    color: black;
}

.article_host{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5%;
    cursor: pointer;
}

.thumbnail_host{
    width: 25%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    position: relative;
    padding: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px #f2f2f2;
}

.thumbnail_host_image{
    width: 100%;
    margin: 0;
    position: relative;
}

.thumbnail_host_image img {
    width: 100%;
    height: 7rem;
    object-fit:cover;
    border-radius: 1.5rem;
}

.thumbnail_host_image figcaption{
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 13px;
    width: 100%;
    padding-left: 0.2rem;
    height: 1.2rem;
    font-weight: 700;
}

.thumbnail_host_legend{
    padding-left: 0.2rem;
    font-size: 13px;
}

.show_more{
    position: absolute;
    bottom: 30px;
    left: 5%;
}

.show_more a{
    font-size: 1.2rem;
    font-weight: bold;
}

/* Populaire */

.popular{
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 1.5rem;
}

.popular_title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    height: 29px;
    margin-bottom: 3rem;
}

.popular_title h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.thumbnail_popular{
    background-color: white;
    width: 90%;
    height: 7rem;
    border-radius: 1.5rem;
    margin: auto;
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 20px #f2f2f2;
}

.thumbnail_popular_image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail_popular_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 0 0 1.5rem;
}

.thumbnail-popular_legend{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thumbnail-popular_legend h3{
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 0 1rem 0.5rem 1rem;
}

.thumbnail-popular_legend p{
    display: block;
    margin: 0.5rem 0.1rem 0.5rem 1rem;
}

.thumbnail-popular_legend .vide{
    flex: 1;
}

.thumbnail-popular_legend .rating_popular{
    margin: 0 1rem 0.5rem 1rem;
    
}

/* Notation */

.fa-star {
	color: #f2f2f2;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.checked {
	color: #0065fc;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 10px;
}

.stars:hover .fa-star {
    color: #0065fc;
}

.stars .fa-star:hover ~ .fa-star {
    color: #f2f2f2;
}

/* Activité à Marseille */

.activity{
    margin-top: 2rem;
}

.activity a{
    text-decoration: none;
    color: black;
}


.activity_title{
    margin: 3rem 2rem;
    font-weight: bold;
}

.activity_container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 14rem 2rem 2rem 2rem 14rem; 
    gap: 3rem 3rem; 
    grid-template-areas: 
      "activity_grid_1 activity_grid_2 activity_grid_4 activity_grid_5"
      "activity_grid_1 activity_grid_2 activity_grid_4 activity_grid_5"
      "activity_grid_1 activity_grid_2 activity_grid_4 activity_grid_6"
      "activity_grid_1 activity_grid_3 activity_grid_4 activity_grid_6"
      "activity_grid_1 activity_grid_3 activity_grid_4 activity_grid_6"; 
    align-content: stretch; 
    align-items: stretch; 
}

.activity_grid{
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px #f2f2f2;
}

.activity_grid_1{
     grid-area: activity_grid_1;
}

.activity_grid_2{
    grid-area: activity_grid_2;
}

.activity_grid_3{
     grid-area: activity_grid_3;
}

.activity_grid_4{
     grid-area: activity_grid_4; 
}

.activity_grid_5{
     grid-area: activity_grid_5; 
}

.activity_grid_6{
     grid-area: activity_grid_6; 
}

.activity_image_container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.activity_image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.activity_legend{
    text-align: center;
    border-radius: 0 0 1.5rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    margin: 0;
    height: 2rem;
    padding: 0.3rem 0;
}