.hosting{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.host_marseille{
    width: 100%;
    flex-wrap: wrap;
}

.popular{
    margin-bottom: 3rem;
    width: 100%;
}

.popular_title{
    justify-content: left;
}

.popular_title .fas{
    padding-left: 2rem;
}

.show_more a{
    font-size: 1.2em;
    margin-bottom: 1em;
}