/* Base */

main{
    padding: 0;
    overflow: hidden;
}

header{
    padding: 0;
}

/* Search */
.search{
    margin-left: 1em;
    margin-right: 1em;
}

.search_text{
    display: none;
}

.search_wen{
    display: contents;
}

#form_search{
    width: 50%;
    font-size: 0.6em;
}

.info{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    flex-wrap: nowrap;
}
/* Populaire */

.host_marseille{
    background-color: white;
    position: relative;
}

.host_marseille h2{
    font-size: 18px;
    margin-bottom: 2em;
}

.article_host{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    margin: 0;
}

.thumbnail_host{
    width: 96vw;
    margin-bottom: 1em;
    padding: 0;
    margin: 0 auto 2em auto;
}

.show_more a{
    font-size: 1em;
}


/* Activités */

.activity{
    width: 100%;
}

.activity_container {
    display: flex;
}

.activity_grid{
    max-height: auto;
    align-content: stretch; 
    align-items: stretch; 
    height: 10em;
    margin-left: 1em;
    margin-right: 1em;
}

.activity_legend{
    text-align: left;
    padding-left: 1em;
    font-weight: bold;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: column;
}

.footer_menu h3{
    font-size: 0.9em;
}

.footer_menu a{
    font-size: 0.8em;
}


/* Header */

header{
    margin-top: 1em;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto; 
    gap: 2em 2em; 
    grid-template-areas: 
      "header_logo header_vide header_sub"
      "header_nav header_nav header_nav"; 
    align-content: stretch; 
    align-items: center; 
  }
  
.header_logo{
    grid-area: header_logo;
}

.header_logo img{
    padding-left: 1em;
}
  
.header_sub{
    grid-area: header_sub; 
    display: flex;justify-content: right;
}

.sub{
text-align: right; 
}
  
.header_nav{
    grid-area: header_nav;
    border-bottom: 3px solid #f2f2f2;
    width: 100%;
    flex-wrap: nowrap;
}

.header_nav a{
    width: 50%;
    text-align: center;
}

.header_nav a:hover{
    border-top: none;
    border-bottom: 3px solid #0065FC;
}
  