/* Général */

/* Populaire */

.popular{
    border-radius: 0;
}

.popular h3{
    width: 100%;
}

.popular_title{
    font-size: 12px;
}

/* Hebergement */

.thumbnail_host_image figcaption{
    font-size: 0.7em;
}

.thumbnail_host_legend{
    font-size: 0.6em;
}

/* Activité */

.activity_legend{
    font-size: 0.8em;
}